<div class=" p-4 mt-5 col-xl-4 col-lg-4 col-md-6 col-sm-6 col-xs-12 offset-sm-3 offset-md-3 offset-lg-4 offset-xl-4">
  <form class="form-signin" #f="ngForm" (ngSubmit)="submit(f, f.valid)">
    <div class="text-center mb-4">
      <img [class.isLoading]="isLoading" class="mb-4" src="../../../../assets/img/winkular-logo.png" alt="" width="72" height="72">
      <h1 class="h1 mb-5">{{environment.APP_NAME}}</h1>
      <h2 class="h4 mb-3 font-weight-normal">{{'RESET PASSWORD' | translate}}</h2>
      <p>{{'Insert new password' | translate}}</p>
    </div>

    <div class="form-group mb-3">
      <label for="newPassword" class="sr-only">{{'New password' | translate}}</label>
      <input ngModel name="newPassword" type="password" id="newPassword" [ngClass]="{'form-control form-control-lg': true, 'is-invalid': f.submitted && f.controls?.newPassword?.errors?.required}" placeholder="{{'New password' | translate}}" required autofocus [disabled]="isLoading">
      <small [hidden]="!f.submitted || !f.controls?.newPassword?.errors?.required" class="invalid-feedback">{{'Insert new password' | translate}}</small>
    </div>
    <div class="form-group mb-3">
      <label for="passwordConfirmation" class="sr-only">{{'Confirm password' | translate}}</label>
      <input ngModel name="passwordConfirmation" type="password" id="passwordConfirmation" [ngClass]="{'form-control form-control-lg': true, 'is-invalid': (f.submitted && f.controls?.passwordConfirmation?.errors?.required) || (f.submitted && f.controls?.newPassword?.dirty && !f.controls?.passwordConfirmation?.errors && f.value?.newPassword !== f.value?.passwordConfirmation)}" placeholder="{{'Confirm password' | translate}}" required [disabled]="isLoading">
      <small [hidden]="!(f.submitted && f.controls?.passwordConfirmation?.errors?.required)" class="invalid-feedback">{{'Confirm password' | translate}}</small>
      <small [hidden]="!(f.submitted && f.controls?.newPassword?.dirty && !f.controls?.passwordConfirmation?.errors && f.value?.newPassword !== f.value?.passwordConfirmation)" class="invalid-feedback">{{'Password does not match' | translate}}</small>
    </div>
    <button class="btn btn-lg btn-primary btn-block" type="submit" [disabled]="isLoading">{{'Confirm' | translate}}</button>
    <p class="mt-5 mb-3 text-muted text-center">Winkular by <a href="https://wink.by" target="_blank">Wink</a></p>
  </form>
</div>
